name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: |
        go mod tidy
        go build -v -o bin/server ./cmd/server
        go build -v -o bin/client ./cmd/client

    - name: Run Directory Sync Test
      run: make test
